@import "colours";

#header {
    width: 90px;
    height: 90px;
    background: rgba(0,0,0,0.75);
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    border-radius: 9999px;

    .logo {
        padding: 15px 0 0 15px;
        color: white;
        font-size: 60px;
    }
}