@import "colours";
@import "breakpoints";
@import "respond";

#metricImperial {
    line-height: 50px;
    color: white;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    height: 50px;
    width: 50px;
    background: rgba(0, 0, 0, 0.75);
    float: right;
    margin-right: 10px;
}