@import "colours";
@import "breakpoints";
@import "respond";

.climb-marker, .café-marker, .view-marker {
    position: absolute;
    font-size: 30px;
    width: 20px;
    height: 30px;
    animation: spin 0.2s linear 0s 1;
    transition: all 0.3s;
    cursor: pointer;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;

    &-highlighted {
        width: 30px;
        height: 40px;
        margin-left: -5px;
        margin-top: -10px;
        transform: perspective(400px) rotateY(180deg);
        transform-style: preserve-3d;
        transition: all 0.3s;
    }
}

.climb-marker {
    background-image: url('../../../../public/images/pins/climb.png');
}

.café-marker {
    background-image: url('../../../../public/images/pins/cafe.png');
}

.view-marker {
    background-image: url('../../../../public/images/pins/view.png');
}

.climb-tooltip, .café-tooltip, .view-tooltip {
    position: absolute;

    .picks-add, .picks-close {
        //box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
        color: white;
        top: -25px;
        left: -10px;
        position: absolute;
        height: 20px;
        width: 20px;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 9999px;
        line-height: 20px;
        text-align: center;
        transition: all 0.2s;
        opacity: 0;
        cursor: pointer;
    }

    .picks-close {

    }

    &-highlighted {
        .picks-add, .picks-close {
            top: -70px;
            left: -35px;
            height: 30px;
            width: 30px;
            border-radius: 9999px;
            line-height: 30px;
            transition: all 0.2s;
            opacity: 1;
            z-index: 3;

            &:hover {
                transition: all 0.15s ease-in-out;
                height: 40px;
                width: 40px;
                margin-top: -5px;
                margin-left: -5px;
                line-height: 40px;
            }
        }

        .picks-add {
            left: 5px;
        }
    }
}

.climb-tooltip {
    .picks-add, .picks-close {
        background: $climb;
    }
}

.café-tooltip {
    .picks-add, .picks-close {
        background: $café;
    }
}

.view-tooltip {
    .picks-add, .picks-close {
        background: $view;
    }
}

@keyframes spin {
    0% {
        transform: perspective(400px) rotateY(90deg);
        transform-style: preserve-3d;
    }

    100% {
        transform: perspective(400px) rotateY(0deg);
        transform-style: preserve-3d;
    }
}
