.picks-marker {
    position: absolute;
    font-size: 30px;
    width: 20px;
    height: 30px;
    animation: spin 0.2s linear 0s 1;
    transition: all 0.3s;
    cursor: pointer;
    background-image: url('../../../../public/images/pins/cafe.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.picks-marker.picks-marker-highlighted {
    width: 30px;
    height: 40px;
    margin-left: -5px;
    margin-top: -10px;
    transform: perspective( 400px ) rotateY(180deg);
    transform-style: preserve-3d;
    transition: all 0.3s;
}

.picks-tooltip {
    position: absolute;

    .picks-add, .picks-close {
        top: -25px;
        left: -10px;
        position: absolute;
        height: 20px;
        width: 20px;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 9999px;
        line-height: 20px;
        text-align: center;
        transition: all 0.2s;
        opacity: 0;
        cursor: pointer;
    }

    .picks-close {

    }
}

.picks-tooltip-highlighted {
    .picks-add, .picks-close {
        top: -70px;
        left: -35px;
        height: 30px;
        width: 30px;
        border-radius: 9999px;
        line-height: 30px;
        transition: all 0.2s;
        opacity: 1;

        &:hover {
            transition: all 0.15s ease-in-out;
            height: 40px;
            width: 40px;
            margin-top: -5px;
            margin-left: -5px;
            line-height: 40px;
        }
    }

    .picks-add {
        left: 5px;
    }
}

.picks-tooltip-highlighted {
//    transition: all 0.2s 0.2s;
//    height: 100px;
//    width: 100px;
//    line-height: 60px;
//    opacity: 1;
//    margin-left: -40px;
//    margin-top: -120px;
}

@keyframes spin {
    0% {
        transform: perspective( 400px ) rotateY(90deg);
        transform-style: preserve-3d;
    }

    100% {
        transform: perspective( 400px ) rotateY(0deg);
        transform-style: preserve-3d;
    }
}
