#stats {
    z-index: 2;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    width: 100%;
    background: rgba(0,0,0,0.75);

    .left {
        width: 70%;
        float: left;
    }

    .right {
        width: 30%;
        float: left;
    }
}

