@import "colours";
@import "breakpoints";
@import "respond";

#stats {
    z-index: 2;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    width: 100%;
    background: rgba(0,0,0,0.75);

    .left {
        width: calc(100% - 200px);
        float: left;
    }

    .right {
        width: 200px;
        float: left;
        position: relative;
    }
}

@include respond-min($x-small) {
    #stats {
        .left {
            width: calc(100% - 250px);
        }

        .right {
            width: 250px;
        }
    }
}