#stats {
    color: white;
    font-size: 3em;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;

    &.ticker-animation {
        animation: grow 1.2s;
    }

    @keyframes grow {
        0% {
            transform: scale(1);
        }
        10% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        90% {
            transform: scale(1);
        }
        100% {
            transform: scale(1);
        }
    }
}

#asc, #desc {
    float: right;
    color: white;
    padding-left: 10px;
}
