@import "colours";
@import "breakpoints";
@import "respond";

#piechart {
    //background: rgba(0,0,0,0.75);
    height: 100px;
    width: 100%;
    color: white;

    .ascdesc {
        position: absolute;
        top: 40px;
        font-size: 12px;
        width: 40px;
        text-align: right;
    }

    .ascdesc div {
        display: inline-block;
    }

    .asc {
        right: 0;
        text-align: left;
    }

    .icon-arrow-up2:before, .icon-arrow-down2:before {
        color: #666;
        position: absolute;
        top: -20px;
        left: 0;
    }
    .icon-arrow-down2:before {
        right: 0;
    }

    .distance {
        position: absolute;
        width: 50px;
        top: 32.5px;
        left: 75px;
        text-align: center;
        font-size: 22px;
    }

    .distance .km {
        font-size: 10px;

    }

    canvas {
        margin: 5px 0 0 55px;
        width: 90px;
        height: 90px;
    }
}

@include respond-min($x-small) {
    #piechart {
        .ascdesc {
            font-size: 16px;
            width: 60px;
        }

        .distance {
            left: 100px;
        }

        canvas {
            margin-left: 80px;
        }
    }
}