$café: #F43D51;
$climb: #CC2029;
$view: #FF6933;

//$cafe: #ff0000;
//$climb: #2d9c1c;
$a: #19B5A5;
$b: #FF6933;
$c: #5E5473;
$d: #F0C505;
$e: #D04C5E;
$f: #60A589;
$g: #FDC938;
$h: #B6BB1B;
$i: #C3066C;
$j: #F43D51;

//http://www.colourlovers.com/palette/2703748/grass_type



$headerHeight: 67px;



$z-index-modal: 10;
$z-index-currentPosition: 5;
$z-index-mainControls: 3;
$z-index-growler: 4;
$z-index-header: 1;