.start-marker {
    position: absolute;
    font-size: 3em;
    color: green;
}

.end-marker {
    position: absolute;
    font-size: 3em;
    color: red;
}

.hover-marker {
    position: absolute;
    font-size: 3em;
    color: purple;
}