@import "colours";
@import "breakpoints";
@import "respond";

#header {
    position: absolute;
    height: $headerHeight;
    width: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 1;

    .logo {
        width: 150px;
        margin: 12px auto;

        #shape {
            fill: white;
        }
    }

    .metric-imperial {
        position: absolute;
        right: 15px;
        top: 25px;
        color: silver;
        font-weight: 300;
        cursor: pointer;
    }
}

#growler {
    position: absolute;
    top: $headerHeight;
    width: calc(100% - 40px);
    background: rgba(46, 204, 113, 0.9);
    z-index: 1;
    left: 0;
    transition: all 0.8s;
    opacity: 1;
    text-align: center;
    padding: 20px;
    font-size: 1.3em;
    font-weight: 300;
    color: #333;
    cursor: pointer;
    
    &.hidden {
        opacity: 0;
        left: calc(0px - 100%);
    }

    .dismiss {
        padding-top: 10px;
        text-align: right;
        margin-right: -10px;
        margin-bottom: -10px;
        font-size: .7em;
        text-transform: uppercase;

        @include respond-min($x-small) {
            position: absolute;
            right: 10px;
            bottom: 10px;
            margin: auto;
            padding: 0;
        }
    }
}

#splash {
    width: 100%;
    height: 100%;
}

.map-holder {
    height: 100%;
}