@import "colours";
@import "breakpoints";
@import "respond";

#picks {
    top: 67px;
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    z-index: $z-index-modal;
    width: 100%;
    height: 100%;
    color: white;

    &.picks-inactive {
        transition: all 0.5s;
        left: -400px;
        opacity: 0;
    }

    &.picks-active {
        transition: all 0.5s;
        left: 0;
        opacity: 1;
    }

    .outer {
        width: 100%;
        color: white;
    }

    .hero {
        position: relative;
    }

    img {
        width: 100%;
    }

    .inner {
        position: absolute;
        bottom: 50px;
        left: 20px;
        width: 100%;
    }

    .title {
        font-size: 40px;
        font-weight: 300;
        text-transform: capitalize;
    }

    .type {
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 200;
    }

    .stats {
        padding-top: 20px;
    }

    .elevation {
        float: left;
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid white;
    }

    .number {
        padding-right: 5px;
        font-weight: bold;
    }

    .unit {
        text-transform: uppercase;
    }

    .button {
        position: absolute;
        background: #CC2029;
        border-radius: 9999px;
        height: 30px;
        width: 30px;
        text-align: center;
        bottom: -15px;
        right: 10px;
        line-height: 30px;
        cursor: pointer;
        transition: all 0.15s ease-in-out;
    }

    &.café {
        .button {
            background: $café;
        }

        .description {
            border-color: $café;
        }
    }

    &.view {
        .button {
            background: $view;
        }

        .description {
            border-color: $view;
        }
    }

    .button:hover {
        transition: all 0.15s ease-in-out;
        height: 40px;
        width: 40px;
        margin-bottom: -5px;
        margin-right: -5px;
        line-height: 40px;
    }

    .close-button {
        right: 50px;
    }

    .description {
        border-top: 5px solid #CC2029;
        margin-top: -3px;
        font-weight: 300;
        background: rgba(0, 0, 0, 0.8);
        padding: 20px;
        line-height: 1.6em;
        overflow: scroll;
    }

    @include respond-min($x-small) {
        img {
            height: 350px;
        }

        width: 350px;
        height: calc(100% - #{$headerHeight});
        overflow: hidden;
    }
}
