@import "colours";
@import "breakpoints";
@import "respond";

#route-header {
    padding: $headerHeight + 20px 20px 20px 20px;
    
    h1 {
        font-weight: 200;
        font-size: 45px;
        color: #444;
    }

    p {
        padding-top: 20px;
        font-weight: 200;
        font-size: 16px;
        line-height: 22px;
    }
}
